$grey_back: #e6e6e6;
$shadow_black_003: 0 0 3px rgba(0,0,0,0.5);
$shadow_black_001: 0 0 1px rgba(0,0,0,0.5);

body {
  background: $grey_back;
  font-family: 'Montserrat', sans-serif;
}

.mus-navbar {
  //background: rgb(242,207,155);
  //background: linear-gradient(90deg, rgba(242,207,155,1) 0%, rgba(236,172,75,1) 35%, rgba(242,207,155,1) 100%);
  background: linear-gradient(24deg, rgba(255,204,204,1) 0%, rgba(255,228,159,1) 51%, rgba(255,204,204,1) 100%);
  padding: 0;
}

.nav-item {
  margin-right: 75px;
  a {
    display: block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    &:hover {
      border-color: #FFA640;
    }
    &:active {
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
  }
}

.mus-main {
  background: #faf8fa;
  padding: 0;
  position: relative;
  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 10px 30px 10px;

    .search-input {
      margin-right: 25%;
      position: relative;
      input {
        width: 215%;
        border-radius: 20px;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .btn {
      $search_orange: #ecac4b;
      color: $search_orange;
      border-color: $search_orange;
      border-radius: 30px;
      &:hover {
        background: $search_orange;
        color: white;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

.mus-image-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  p {
    font-size: 17px;
  }
}

.mus-new-rel {
  color: #595959;
  h2 {
    margin-bottom: 30px;
  }
  .row {
    justify-content: center;
    margin: 0 20px 30px 20px;
  }
  .col {
    .card {
      height: 100%;
      border-radius: 20px;
      border-color: grey;
      img {
        border-radius: 20px 20px 0 0;
      }
      h6 {
        margin: 10px;
      }
      p {
        margin: 10px;
      }
    }
  }
}

.mus-top50 {
  background-color: #faf5fa;
  padding: 30px 30px 80px 30px;
}

.mus-row-shuffle {
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 60px 0 20px 15px;
  border: 1px solid grey;
  border-radius: 30px;
  width: 20%;
  cursor: pointer;
  box-shadow: $shadow_black_003;
  &:hover {
    background: #faf0fa;
  }
  &:active {
    box-shadow: $shadow_black_001;
  }
  img {
    margin: 0 10px;
  }
}

.mus-row-songs {
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: $shadow_black_003;
  padding: 5px 15px 5px 15px;
  width: 70%;
  &:hover {
    background: #faf0fa;
    border-color: #ffa640;
  }
  &:active {
    box-shadow: $shadow_black_001;

  }
  img {
    border-radius: 15px;
  }
  p {
    margin: 0;
  }
  .mus-row-songs-time {
    margin-left: auto;
  }
}

.mus-player {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  max-height: 50px;
  .mus-player-shuffle {
    margin-left: 20px;
    box-shadow: $shadow_black_003;
    border-radius: 50%;
    &:active {
      box-shadow: $shadow_black_001;
    }
  }
  .mus-player-previous {
    box-shadow: $shadow_black_003;
    border-radius: 50%;
    &:active {
      box-shadow: $shadow_black_001;
    }
  }
  .mus-player-next {
    margin-right: 20px;
    box-shadow: $shadow_black_003;
    border-radius: 50%;
    &:active {
      box-shadow: $shadow_black_001;
    }
  }
  .mus-player-volume {
    margin-right: 15px;
    box-shadow: $shadow_black_003;
    border-radius: 50%;
    &:active {
      box-shadow: $shadow_black_001;
    }
  }
  .mus-main-btn {
    box-shadow: $shadow_black_003;
    border-radius: 50%;
    &:active {
      box-shadow: $shadow_black_001;
    }
  }
  div {
    margin-right: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .mus-player-song-detail {
    margin: 0;
    div {
      float: right;
    }
    img {
      margin-right: 10px;
      border-radius: 15px;
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
    p {
      margin: 0;
    }
  }
}

.mus-volume-bar {
  background-color: $grey_back;
  border-radius: 20px;
  height: 5px;
  width: 70px;
  margin-right: 150px;
  box-shadow: $shadow_black_003;
}
.mus-volume-bar::-webkit-progress-bar {
  background-color: $grey_back;
  border-radius: 20px;
}
.mus-volume-bar::-webkit-progress-value {
  //background: rgb(145,236,236);
  background: linear-gradient(24deg, rgba(145,236,236,1) 3%, rgba(255,145,227,1) 51%, rgba(252,145,145,1) 96%);
  border-radius: 20px;
}

.mus-time-bar-div {
  margin-left: 600px;
  p {
    margin: 0;
    font-size: 10px;
  }
}

.mus-time-bar {
  background-color: $grey_back;
  border-radius: 20px;
  height: 5px;
  width: 300px;
  margin: 0;
  box-shadow: $shadow_black_003;
}
.mus-time-bar::-webkit-progress-bar {
  background-color: $grey_back;
  border-radius: 20px;
}
.mus-time-bar::-webkit-progress-value {
  //background: rgb(145,236,236);
  background: linear-gradient(24deg, rgba(145,236,236,1) 3%, rgba(255,145,227,1) 51%, rgba(252,145,145,1) 96%);
  border-radius: 20px;
}

.mus-song-centered {
  position: absolute;
  z-index: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //background: rgb(255,222,172);
  background: linear-gradient(352deg, rgba(255,222,172,1) 1%, rgba(238,212,173,1) 49%, rgba(242,207,155,1) 94%);
  padding: 15px 0;
  z-index: 2;
}

@media (max-width: 1199px) {
  .mus-main .search-bar .search-input {
    margin-right: 25%;
    input {
      width: 197%;
    }
  }
}

@media (max-width: 990px) {
  .mus-main .search-bar .search-input {
    margin-right: 25%;
    input {
      width: 170%;
    }
  }
}

@media (max-width: 767px) {
  .mus-main .search-bar .search-input {
    margin-right: 25%;
    input {
      width: 150%;
    }
  }
}

@media (max-width: 576px) {
  .mus-main .search-bar {
    .search-input {
      margin-right: 25%;
      input {
        width: 140%;
      }
    }
      .btn {
        position: relative;
        top: -15%;
    }
  }
}
